<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deptListKey</key>
	<string>GetDeptList</string>
	<key>loginKey</key>
	<string>UserLogin</string>
	<key>baseUrl</key>
	<string>http://10.7.200.61:9090/MNurse/ws/mnurse</string>
</dict>
</plist>
